@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-gradient: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 4%,
    rgba(170, 170, 232, 1) 40%,
    rgba(95, 197, 218, 1) 100%
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-gradient_solid {
  background: var(--primary-gradient);
}

.bg-point div {
  background: #172554;
}

.timeline {
  border-color: #172554;
}
